/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Common */

.container {
    margin: auto;
    padding: 0;
    max-width: 80%;
}



/* HEADER */
header {
    color: white;
    background-color: rgb(27, 182, 61);
}

.titleApp {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}



/* MAIN */
/* Sezione Scelta */
.divScelta {
    margin-top: 70px;
}

.titleScelta {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
}

.selectGame {
    padding: 5px;
    border-radius: 5px;
}

.randomizeButton {
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(27, 182, 61);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
}

.randomizeButton:hover {
    border: 1px solid rgb(27, 182, 61);
    background-color: transparent;
    color: rgb(27, 182, 61);
}

/* Sezione Risultati */
.divResults {
    font-family: "Orbitron", sans-serif;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(154, 205, 50, 0.7);
}

.settings {
    color: rgb(27, 182, 61);
    font-size: 15px;
}

.results {
    color: brown;
}

.titleResults {
    font-family: "Orbitron", sans-serif;
    margin-bottom: 20px;
}